<ion-header>
    <ion-toolbar color="primary">
        <ion-title>Servers</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
        <ion-item *ngFor="let server of servers" [routerLink]="['./', server.id]">
            <ion-avatar slot="start">
                <ion-img [src]="server.imageUrl"></ion-img>
            </ion-avatar>
            <ion-label>
                {{ server.serverName }}
            </ion-label>
        </ion-item>
    </ion-list>

    <ion-tabs>
        <ion-tab-bar slot="bottom">
            <ion-tab-button tab="problems">
                <ion-label>Problems</ion-label>
                <ion-icon name="warning"></ion-icon>
            </ion-tab-button>
            <ion-tab-button tab="hosts">
                <ion-label>Hosts</ion-label>
                <ion-icon name="server"></ion-icon>
            </ion-tab-button>
            <ion-tab-button tab="downtimes">
                <ion-label>Downtimes</ion-label>
                <ion-icon name="alarm"></ion-icon>
            </ion-tab-button>
        </ion-tab-bar>
    </ion-tabs>
</ion-content>
