<ion-header>
    <ion-toolbar color="primary">
        <ion-title>GoWatcher</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

    <ion-header>
        <ion-toolbar>
            <ion-title>Problems & Warnings</ion-title>
        </ion-toolbar>
    </ion-header>

    <ng-template [ngIf]="problems">
        <ion-list>
            <ion-item *ngFor="let problem of problems">

                <ng-template [ngIf]="problem.type == 'warning'">
                    <ion-label>{{problem.serviceName}} on {{problem.hostName}}</ion-label>
                    <ion-icon name="warning" color="warning" slot="start"></ion-icon>
                </ng-template>

                <ng-template [ngIf]="problem.type == 'problem'">
                    <ion-label color="danger">{{problem.serviceName}} on {{problem.hostName}}</ion-label>
                    <ion-icon name="warning" color="danger" slot="start"></ion-icon>
                </ng-template>

            </ion-item>
        </ion-list>

    </ng-template>

    <ng-template [ngIf]="!problems">
        <ion-list>
            <ion-item>
                <ion-label>No problems or warnings</ion-label>
                <ion-icon color="success" name="checkmark-circle-outline" slot="start"></ion-icon>
            </ion-item>
        </ion-list>
    </ng-template>

    <ion-tabs>
        <ion-tab-bar slot="bottom">

<!--            <ion-tab-button href="/problems" target="_self">-->
<!--                <ion-label>Problems</ion-label>-->
<!--                <ion-icon name="warning"></ion-icon>-->
<!--            </ion-tab-button>-->

            <ion-tab-button tab="hosts-tab">
                <ion-label>Hosts</ion-label>
                <ion-icon name="server"></ion-icon>
            </ion-tab-button>
            <ion-tab-button tab="host-services-tab">
                <ion-label>Services</ion-label>
                <ion-icon name="cog"></ion-icon>
            </ion-tab-button>
            <ion-tab-button tab="downtimes-tab">
                <ion-label>Downtimes</ion-label>
                <ion-icon name="alarm"></ion-icon>
            </ion-tab-button>
        </ion-tab-bar>
    </ion-tabs>

</ion-content>
